			<hr>
			<footer>
				<p>Powered by <a href="https://github.com/michaldaniel/nodejs-status-page">nodejs-status-page</a></p>
				<p class="text-muted">[CURRENT_DATE]</p>
			</footer>
		</div>
	</body>
</html>
