			<footer class="pt-3 my-md-4 pt-md-4 border-top">
				<p>Powered by <a href="https://github.com/michaldaniel/nodejs-status-page">nodejs-status-page</a><br/>
				<small class="text-muted">[CURRENT_DATE]</small></p>
			</footer>
		</div>
	</body>
</html>
