
<footer class="footer text-center mb-5 mt-3">
  <div class="container">
	<small class="text-muted">Powered by <a href="https://github.com/michaldaniel/nodejs-status-page">nodejs-status-page</a>.</small>
  </div>
</footer>


</body>
</html>
