<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Status Page</title>
		<meta name="viewport" content="width=device-width">
		<meta name="robots" content="noindex, nofollow">
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all">
		<link rel="stylesheet" href="/fontawesome/css/all.min.css" type="text/css" media="all">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container pt-md-5 pb-md-4">
			<header class="pb-md-4">
				<h1>
					Status Page
					<span class="float-right">
						<a href="https://github.com/michaldaniel/nodejs-status-page" class="btn btn-primary" role="button">
							<i class="fa fa-home"></i>
							Homepage
						</a>
					</span>
				</h1>
			</header>
